* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex {
    display: flex;
}

.direction-column {
    flex-direction: column;
}

.top {
    height: calc(100vh - 80px);
}

.bottom {
    height: 80px;
    background-color: rgb(56, 56, 56);
}



.sidebar {
    width: 70px;
    background-color: black;
}

.sidebar_top {
    height: 90%;
}

.sidebar_bottom {
    height: 10%;
}

.content {
    width: 100%;
    background-color: rgb(5, 7, 36);
}