* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Circular Std', sans-serif;
}

:root {
    --white: white;
    --black: black;
    --miniplayer: rgb(51, 51, 51);
    --mainbg: rgb(26, 27, 34);
    --upgrade:  rgba(8, 8, 8, 0.856);
    --secondary: darkgray;
}

/* #region utilities */

.d-flex {
    display: flex;
}

.f-wrap {
    flex-wrap: wrap;
}

.w-70 {
    width: 70%;
}

.gap-10 {
    gap: 10px;
}

.ls-none {
    list-style: none;
}

.direction-column {
    flex-direction: column;
}

.py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* #endregion utilities */

/* #region layout */

.top {
    height: calc(100vh - 80px);
}

.bottom {
    height: 80px;
    background-color: var(--miniplayer);
}

.sidebar {
    width: 50px;
    background-color: var(--black);
    color: var(--white);
}

.sidebar_top {
    height: 80%;
    margin-top: 1rem;
}

.side_icons {
    list-style: none;
    align-items: center;
}


.sidebar_bottom {
    height: 20%;
    overflow: hidden;
}


/* #endregion layout */

/* #region content */

.content {
    width: 100%;
    background-color: var(--mainbg);
    overflow-y: scroll;
}

.feed p {
    color: var(--secondary);
}

.upgrade {
    height: 50px;
    background-color: var(--upgrade);
    justify-content: flex-end;
    align-items: center;
}

.upgradebtn {
    height: 70%;
    color: var(--white);
    background-color:  var(--upgrade);
    padding: 5px 2rem;
    border-radius: 2rem;
    border: 1px solid var(--white);
}

.menu {
    color: var(--white);
    padding: 1rem;    
}

#content-type {
    font-size: small;
}

.sections-list {
    list-style: none;
    color: var(--secondary);
    justify-content: center;
}

.track {
    text-align: center;
    max-width: 50%;
    padding: 10px;
}

.track_img {
    max-width: 100%;
}

.track_name {
    max-width: 100%;
}

.track_author {
    color: var(--secondary);
}
/* #endregion content */