* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Circular Std', sans-serif;
}

:root {
    --white: white;
    --black: black;
    --miniplayer: rgb(51, 51, 51);
    --mainbg: rgb(26, 27, 34);
    --upgrade:  rgba(8, 8, 8, 0.856);
    --secondary: darkgray;
}

/* #region utilities */

.col-12 {
    width: 100%;
}

.col-6 {
    max-width: calc(100%/12 * 6);
}

.col-4 {
    width: calc(100%/12 * 4);
}

.col-3 {
    width: calc(100%/12 * 3);
}

.col-2 {
    width: calc(100%/12 * 2);
}

.d-flex {
    display: flex;
}

.f-wrap {
    flex-wrap: wrap;
}

.w-70 {
    width: 70%;
}

.w-100 {
    width: 100%;
}

.h-80 {
    height: 80%;
}

.gap-10 {
    gap: 10px;
}

.ls-none {
    list-style: none;
}

.direction-column {
    flex-direction: column;
}

.py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* #endregion utilities */

/* #region layout */

.top {
    height: calc(100vh - 80px);
}

.sidebar {
    width: 50px;
    background-color: var(--black);
    color: var(--white);
    justify-content: space-between;
}

.sidebar_top {
    margin-top: 1rem;
}

.side_icons {
    list-style: none;
    align-items: center;
}


.sidebar_bottom {
    overflow: hidden;
}


/* #endregion layout */

/* #region displaynone and hover*/
.full-logo {
    display: none;
}

.upgrade button:hover {
    padding: 5px 3rem;
    border: 2px solid var(--white);
}

.sections-list li:hover {
    color: var(--white);
    border-bottom: 2px solid rgb(44, 167, 44);
}

/* #endregion displaynone */

/* #region content */

.content {
    width: 100%;
    background-color: var(--mainbg);
    overflow-y: scroll;
}

.feed,.bottom_left p {
    color: var(--secondary);
}

.upgrade {
    height: 50px;
    background-color: var(--upgrade);
    justify-content: flex-end;
    align-items: center;
}

.upgradebtn {
    height: 70%;
    color: var(--white);
    background-color:  var(--upgrade);
    padding: 5px 2rem;
    border-radius: 2rem;
    border: 1px solid var(--white);
}

.menu {
    color: var(--white);
    padding: 1rem;    
}

#content-type {
    font-size: small;
}

.sections-list {
    list-style: none;
    color: var(--secondary);
    justify-content: center;
}

.track {
    text-align: center;
    max-width: 50%;
    padding: 10px;
}

.track_img {
    max-width: 100%;    
}

.track_name {
    word-wrap: break-word;
}

.track_author {
    color: var(--secondary);
    word-wrap: break-word;
}

.artist {
    text-align: center;
    padding: 10px;
}

.author_image {
    max-width: 100%;
    border-radius: 50%;
}

/* #endregion content */

/* #region bottom */

#bottom {
    height: 80px;
    justify-content: space-between;
    background-color: var(--miniplayer);
}

.bottom_left {
    max-height: 100%;
    align-items: center;
}

.bottom_mid {
    justify-content: center;
}

.bottom_right {
    max-height: 100%;
    align-items: center;
}

.player_img {
    width: 19%;
    padding: 10px;
}

.player_commands {
    height: 50%;
}

.player_commands {
    align-items: center;
    justify-content: space-around;
    width: 100%;
}   

.time_bar {
    margin: 10px;
    width: 90%;
    height: 1px;
    border: 1px solid var(--secondary);
}

.volume_bar {
    margin: 10px;
    width: 100px;
}


/* #endregion bottom */

/* #region mediascreen */

@media screen and (min-width: 400px) {
    
}

@media screen and (min-width: 768px) {

    .col-md-12 {
        width: 100%;
    }

    .col-md-8 {
        width: calc(100%/12 * 8);
    }
    
    .col-md-6 {
        width: calc(100%/12 * 6);
    }

    .col-md-4 {
        width: calc(100%/12 * 4);
    }

    .col-md-3 {
        width: calc(100%/12 * 3);
    }

}

@media screen and (min-width: 1140px) {

    .col-lg-12 {
        width: 100%;
    }

    .col-lg-8 {
        width: calc(100%/12 * 8);
    }

    .col-lg-6 {
        width: calc(100%/12 * 6);
    }
    
    .col-lg-4 {
        width: calc(100%/12 * 4);
    }

    .col-lg-3 {
        width: calc(100%/12 * 3);
    }

    .col-lg-2 {
        width: calc(100%/12 * 2);
    }

}
/* #endregion mediascreen */